<div class="home">
  <header class="home-header" data-controller="home-header">
    <%= link_to app_home_path, class: "home-header__brand-logo" do %>
      <img class="logo-img" src="/images/logo/logo-main.png" alt="10K">
    <% end %>
    <nav class="home-header__menu" aria-label="アカウント">
      <% if user_signed_in? %>
        <%= link_to "リクエスト一覧", requests_path, class: "menu-btn menu-btn--primary" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "menu-btn menu-btn--ghost", data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "home__btn home__btn--ghost" %>
        <%= link_to "動画を投稿する", new_user_registration_path, class: "home__btn home__btn--primary sp-only" %>

        <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary sp-none" %>
      <% end %>
    </nav>
  </header>

  <main class="home-main">
    <div class="home-main-inner">
      <h1 class="home-title">"強くなる"を<br class="sp-only">アップデートする</h1>
      <p class="home-lead">練習動画やスパーリング動画を投稿すると、<br>ボクシングトレーナーから課題・原因・練習方法のアドバイスが届くサービスです。</p>
      <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary" %>

      <!-- ホームヒーロー -->
      <section class="home-hero">
      <!-- ユーザー -->
        <article class="home-hero__user-info home-hero-card">
          <div class="user-icon"></div>
          <div class="user-item">
            <p class="user-name">高辻 龍二</p>
            <p class="user-text">元日本フェザー級チャンピオン</p>
          </div>
        </article>

        <!-- 動画 -->
        <article class="home-hero__video home-hero-card">
          <img class="video-icon" src="/images/icon/icon-video.svg" alt="動画再生アイコン">
        </article>

        <!-- サービス内容 -->
        <article class="home-hero__service home-hero-card">
          <div class="service__user-info">
            <div class="service__user-icon"></div>
            <div class="service__user-item">
              <p class="service__user-name">高辻 智和<span>・3分前</span></p>
              <p class="service__user-text">元日本フェザー級チャンピオン</p>
            </div>
          </div>
          <div class="service-item item-01">
            <div class="service-item__title-box">
              <img class="service-item__icon" src="/images/icon/icon-problem.svg" alt="課題アイコン">
              <p class="service-item__title">課題</p>
            </div>
            <p class="service-item__text">ストレートを打つ時に<br>体感が使えていない感じがしますね<span class="emoji">🤔</span></p>
          </div>
          <div class="service-item item-02">
            <div class="service-item__title-box">
              <img class="service-item__icon" src="/images/icon/icon-question.svg" alt="原因アイコン">
              <p class="service-item__title">原因</p>
            </div>
            <p class="service-item__text">パンチを打つ時の体の使い方に問題がありそうです<span class="emoji">💡</span></p>
          </div>
          <div class="service-item item-03">
            <div class="service-item__title-box">
              <img class="service-item__icon" src="/images/icon/icon-training.svg" alt="練習方法アイコン">
              <p class="service-item__title">練習方法</p>
            </div>
            <p class="service-item__text">ポイントは、ストレートを打つ際の重心の位置です！<br class="sp-none">動画で説明していることを意識してみてください<span class="emoji">🔥</span></p>
          </div>
        </article>

        <figure class="home-hero__image">
          <img class="home-hero__img" src="/images/home-hero.webp" alt="スマホ">
        </figure>
      </section>

      <p class="home-notes">※このアプリはβ版です。<br class="sp-only">正式版に向けて改善を行なっております。</p>


      <!-- 問題・悩み -->
      <section class="home-worry" data-controller="home-scroll">
        <h2 class="sec-title">強くなりたくて、<br class="sp-only">練習している。<br>でも、<span class="color">何をどう直せば<br class="sp-only">いいのかわからない。</span></h2>
        <p class="home-lead">たくさんのYoutube動画を見て真似しても、<br class="sp-only">それが今の自分に合っているとは限りません。<br>必要なのは、今の自分の動きに対するアドバイスと、次に取り組むべき練習方法です。</p>
        <article class="worry-box">
          <div class="worry-item item-01">スパーリングでまた同じこと注意された。</div>
          <div class="worry-item item-02">お父さんがボクシング経験者だったらな。</div>
          <div class="worry-item item-03">Youtubeではこうやって<br class="sp-none">言ってたけど。</div>
          <div class="worry-item item-04">もっとジムでも個別に教えてほしい。</div>
          <div class="worry-item item-05">いろんなトレーナーの意見も<br class="sp-none">聞いてみたい。</div>
          <div class="worry-item item-06">強いあの子はどんな練習して<br class="sp-none">いるんだろ？</div>
          <div class="worry-item item-07">今の自分が強くなるためには何が必要なの？</div>
        </article>
      </section>


      <!-- できること -->
      <section class="home-about">
        <h2 class="sec-title">強くなるための、<br class="sp-only">もっといい方法がある。<br><span class="color">動画を投稿して、<br class="pc-none">自分に必要なアドバイスを受けよう。</span></h2>
      </section>
    </div>
    <p class="home-copy">© 2026 10K. All rights reserved. β版 v0.1.0</p>
  </main>
</div>

