<div class="home">
  <header class="home-header" data-controller="home-header">
    <%= link_to app_home_path, class: "home-header__brand-logo" do %>
      <img class="logo-img" src="/images/logo/logo-main.png" alt="10K">
    <% end %>
    <nav class="home-header__menu" aria-label="アカウント">
      <% if user_signed_in? %>
        <%= link_to "リクエスト一覧", requests_path, class: "menu-btn menu-btn--primary" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "menu-btn menu-btn--ghost", data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "home__btn home__btn--ghost" %>
        <%= link_to "動画を投稿する", new_user_registration_path, class: "home__btn home__btn--primary sp-only" %>

        <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary sp-none" %>
      <% end %>
    </nav>
  </header>

  <main class="home-main">
    <div class="home-main-inner">
      <h1 class="home-title">"強くなる"を<br class="sp-only">アップデートする</h1>
      <p class="home-lead">練習動画やスパーリング動画を投稿すると、<br class="tb-only">ボクシングトレーナーからアドバイスが届くサービスです。</p>
      <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary sp-none" %>

      <!-- ホームヒーロー -->
      <section class="home-hero">
      <!-- ユーザー -->
        <article class="home-hero__user-info home-hero-card">
          <div class="user-icon"></div>
          <div class="user-item">
            <p class="user-name">榮拓海</p>
            <p class="user-text">元IBFユース世界Lフライ級王者</p>
          </div>
        </article>

        <!-- 動画 -->
        <article class="home-hero__video home-hero-card">
          <img class="video-icon" src="/images/icon/icon-video-02.svg" alt="動画再生アイコン">
          <img class="video-bg" src="/images/home-video.webp" alt="サムネイル">
        </article>

        <!-- サービス内容 -->
        <article class="home-hero__service home-hero-card home-service-01">
          <div class="service-item item-01">
            <p class="service-item__text">ストレートを打つ時に<br>体感が使えていない感じがしますね<span class="emoji">🤔</span></p>
          </div>
        </article>
        <article class="home-hero__service home-hero-card home-service-02">
          <div class="service-item item-02">
            <p class="service-item__text">パンチを打つ時の体の使い方に問題がありそうです<span class="emoji">💡</span></p>
          </div>
        </article>
        <article class="home-hero__service home-hero-card home-service-03">
          <div class="service-item item-03">
            <p class="service-item__text">ポイントは、ストレートを打つ際の重心の位置です！<br class="sp-none">動画で説明していることを意識してみてください<span class="emoji">🔥</span></p>
          </div>
        </article>

        <figure class="home-hero__image">
          <img class="home-hero__img" src="/images/home-hero.webp" alt="スマホ">
        </figure>
      </section>

      <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary sp-only" %>

      <p class="home-notes">※このアプリはβ版です。<br class="sp-only">正式版に向けて改善を行なっております。</p>


      <!-- 問題・悩み -->
      <section class="home-worry" data-controller="home-scroll">
        <h2 class="sec-title">強くなりたくて、練習している。<br class="sp-none">でも、<span class="color">何をどう直せばいいのかわからない。</span></h2>
        <p class="home-lead">たくさんのYoutube動画を見て真似しても、それが今の自分に合っているとは限りません。<br class="sp-none">必要なのは、今の自分の動きに対するアドバイスと、次に取り組むべき練習方法です。</p>
        <article class="worry-box">
          <div class="worry-item item-01">スパーリングでまた同じこと注意された。</div>
          <div class="worry-item item-02">お父さんがボクシング経験者だったらな。</div>
          <div class="worry-item item-03">Youtubeではこうやって言ってたけど。</div>
          <div class="worry-item item-04">もっとジムでも個別に教えてほしい。</div>
          <div class="worry-item item-05">いろんなトレーナーの意見も聞いてみたい。</div>
          <div class="worry-item item-06">強いあの子はどんな練習しているんだろ？</div>
          <div class="worry-item item-07">今の自分が強くなるためには何が必要なの？</div>
        </article>
      </section>


      <!-- 特徴 -->
      <section class="home-feature">
        <h2 class="sec-title">強くなるための、もっといい方法がある。<br class="sp-none"><span class="color">動画を投稿して、自分に必要なアドバイスを受けよう。</span></h2>

        <article class="feature_box">
          <div class="feature_item item-01">
            <p class="feature_item__icon">🧭</p>
            <p class="feature_item__title">自分の現在地がわかる</p>
            <p class="feature_item__text">感覚ではなく、動画を通して<br class="sp-none">今の自分の状態を客観的に見てもらえる。</p>
          </div>
          <div class="feature_item item-02">
            <p class="feature_item__icon">🎯</p>
            <p class="feature_item__title">本当の課題が見えてくる</p>
            <p class="feature_item__text">何となく調子が悪いではなく、<br class="sp-none">改善すべきポイントがはっきりする。</p>
          </div>
          <div class="feature_item item-03">
            <p class="feature_item__icon">🔍</p>
            <p class="feature_item__title">うまくいかない原因がわかる</p>
            <p class="feature_item__text">なぜその動きになるのか、<br class="sp-none">クセや原因まで整理できる。</p>
          </div>
          <div class="feature_item item-04">
            <p class="feature_item__icon">🥊</p>
            <p class="feature_item__title">やるべき練習が絞れる</p>
            <p class="feature_item__text">今の自分に必要な練習方法がわかり<br class="sp-none">結果につながりやすい。</p>
          </div>
          <div class="feature_item item-05">
            <p class="feature_item__icon">🛤️</p>
            <p class="feature_item__title">正しい方向に努力できる</p>
            <p class="feature_item__text">ただ量をこなすのではなく、<br class="sp-none">練習の目的がはっきりする。</p>
          </div>
          <div class="feature_item item-06">
            <p class="feature_item__icon">💡</p>
            <p class="feature_item__title">必要なときに深く学べる</p>
            <p class="feature_item__text">もっと知りたい部分は、<br class="sp-none">追加アドバイスで詳しく聞ける。</p>
          </div>
        </article>
      </section>

      <!-- 画像 -->
      <section class="home-bg">
        <img class="home-bg__img" src="/images/home-bg.webp" alt="ボクシングジム">
        <h2 class="home-bg__title">強い人には、いつも見てくれる人がいる。 <br class="sp-none">あなたには、10Kがある。</h2>
      </section>

      <!-- 比較 -->
      <section class="home-comparison">
        <h2 class="sec-title">10Kは、何が違うのか？</h2>
        <p class="home-lead">10Kは、ボクシングをより現代的に、効率よく学ぶための方法です。<br class="sp-none">ここでは、ジムでの練習やSNS・YouTubeで学ぶ方法と比べて、何が違うのかをご紹介します。</p>
        <%= render "comparison_table_pc" %>
        <%= render "comparison_table_sp" %>
      </section>

      <!-- ctaセクション -->
      <section class="home-cta">
        <div class="home-cta__grid"></div>
        <!-- <img class="home-cta__bg" src="/images/home-cta-bg.png" alt="ボクシングジム"> -->
        <img class="home-cta__belt" src="/images/home-belt.png" alt="ベルト">
        <div class="home-cta__inner">
          <h2 class="home-cta__title">あなたの練習を<br class="sp-only">アップデートしよう！</h2>
          <%= link_to "トレーナーに無料で相談しよう", new_user_registration_path, class: "home__btn home__btn--primary" %>
        </div>
      </section>
    </div>
    <p class="home-copy">© 2026 10K. All rights reserved. β版 v0.1.0</p>
  </main>
</div>

