<div class="requests-page-content request-index">

  <div class="site-header">
    <%= link_to app_home_path, class: "requests-feed-chrome__brand" do %>
      <span class="site-header__brand-logo">10K</span>
    <% end %>

    <div class="site-header__account-actions">
      <%= render "shared/account_menu" %>
    </div>
  </div>


  <div class="requests-feed-box">
  <% if current_user.member? || current_user.trainer? %>
    <% sidebar_partial = current_user.member? ? "member_sidebar" : "trainer_sidebar" %>

    <div class="requests-layout">
      <%= render sidebar_partial %>

      <div class="requests-main">
        <div class="requests-feed-main">
          <div class="requests-feed-inner">
            <%= render "requests/feed_list" %>
          </div>
          <div class="requests-feed-aside-spacer" aria-hidden="true"></div>
        </div>
        <%= render "shared/requests_feed_aside" %>
      </div>
    </div>
  <% end %>
  <div>
</div>

