<!DOCTYPE html>
<html>
  <head>
    <title>Re:RANGE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? || alert.present? %>
      <div class="flash-messages" aria-live="polite">
        <% if notice.present? %>
          <p class="flash-message flash-message--notice" data-controller="flash-notice">
            <%= notice %>
          </p>
        <% end %>

        <% if alert.present? %>
          <p class="flash-message flash-message--alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
