<!DOCTYPE html>
<html>
  <head>
    <title>10K</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Googleフォント｜ Noto Sans JP -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice.present? || alert.present? %>
      <div class="flash-messages" aria-live="polite">
        <% if notice.present? %>
          <p class="flash-message flash-message--notice" data-controller="flash-notice">
            <%= notice %>
          </p>
        <% end %>

        <% if alert.present? %>
          <p class="flash-message flash-message--alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
